<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
    <style>

        body {
            background-color: lightblue;
        }

        .button {
            background-color: #4CAF50; /* Green */
            border-radius: 5px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
 .demo{
     display: flex;
     text-align: center;

 }
    </style>
</head>
<body>
<h1>Welcome!</h1>
<div class="demo">
    <a class="button" href="/login">Login</a>
    <a class="button" href="/add">Sign up</a>
</div>
</body>
</html>