<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
</head>
<body>
<div>
    <form action="/add" method="post">
     <p>Enter Username</p>
     <input type="text" name="username"/>
        <p>Enter Password</p>
        <input type="password" name="password"/>
        <p>Enter Email</p>
        <input type="text" name="email"/><br>
        <p>Enter Fullname</p>
        <input type="text" name="fullname"/><br>
        <p>Enter Day of birth</p>
        <input type="text" name="dayOfbirth"/><br>
        <input type="submit" name="Add" />
    </form>
</div>
</body>
</html>

